<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <title>Les bonnes choses</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">

    <link rel="stylesheet" href="/stylesheets/normalize.min.css">
    <link rel="stylesheet" href="/stylesheets/main.css">
    <link rel="stylesheet" href="/stylesheets/toolbar.css">

  </head>
  <body>
    <header>
      <nav>
        <h1><a href="/">Les bonnes choses</a></h1>

        <ul>
          <li><a href="/about" <%= typeof menu != 'undefined' && menu == 'about' ? 'class=selected' : '' %>>About</a></li>
          <li><a href="/stores" <%= typeof menu != 'undefined' && menu == 'stores' ? 'class=selected' : '' %>>Stores</a></li>
        </ul>
        <ul>
          <li><a href="/jobs" <%= typeof menu != 'undefined' && menu == 'jobs' ? 'class=selected' : '' %>>Jobs</a></li>
          <li><a href="/blog" target="_self">Our Blog</a></li>
        </ul>

        <a href="/search"><span>Search</span></a>

      </nav>
    </header>

    <%- body -%>

    <footer>
      This is a demonstration website for <a href="http://prismic.io">prismic.io</a> 
    </footer>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="/javascripts/jquery-1.10.1.min.js><\/script>')</script>
    <script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>

    <script src="/javascripts/modernizr-2.6.2.min.js"></script>
    <script src="/javascripts/catslider.js"></script>
    <script src="/javascripts/main.js"></script>

    <script src="https://static.cdn.prismic.io/prismic.min.js"></script>
  </body>
</html>
